html, body {
  background-color: #070707;
  color: #fff;
  height: 100%;
  min-width: 600px; }

a {
  color: #40b86e; }

#content {
  background-color: #000323;
  flex: 1 0 auto;
  min-height: 750px; }

footer {
  background-color: #000;
  flex-shrink: none; }

.container-fluid {
  /*overflow: hidden;*/ }

.text-light {
  /*color: #ed0000 !important;*/ }

.disabled {
  color: #4d4e66 !important; }

nav {
  background-color: #111; }

.navbar {
  padding: 2%; }

.navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-size: 2em; }

#selected {
  color: #40b86e !important; }

#portfolio-placeholder {
  text-align: center; }

.work-container {
  min-width: 256px;
  min-height: 256px;
  max-width: 512px;
  max-height: 512px; }

.work-container img {
  width: 100%;
  height: auto; }

.work-1 {
  background-color: #060926; }

.work-2 {
  background-color: #0e1130; }

.work-3 {
  background-color: #161832; }

.work-4 {
  background-color: #0f1129; }

.page {
  background-color: #070707;
  min-height: 750px; }

.contact-form {
  border: 1px solid #191919;
  padding: 10%;
  text-align: center; }

.btn {
  background-color: #40b86e !important;
  color: #070707;
  border-color: #000; }

.contact-form-container {
  min-width: 450px; }
